<footer id="foot" class="site-footer mt-5">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <ul class="list list-unstyled">
          <div class="pao">
            <h5 class="angotha text-muted" id="custmenu">CUSTOMER SUPPORT</h5>
            <div class="ari1">
              <a class="ungli" routerLink="/help">
                <li>Help</li>
              </a>
              <a class="ungli" routerLink="/ordertracker">
                <li>Order Tracker</li>
              </a>
              <!-- <a class="ungli" href="">
                <li>Store Locator</li>
              </a> -->
              <a class="ungli" href="https://tranchulas.com">
                <li>Site Map</li>
              </a>
            </div>
          </div>
        </ul>
      </div>
      <div class="col-md-3">
        <ul class="list list-unstyled">
          <div class="pao">
            <hr class="line line1">
            <h5 class="angotha text-muted" id='company_menu'>THE COMPANY</h5>
            <div class="ari2">
              <a class="ungli" href="https://tranchulas.com">
                <li>About Us</li>
              </a>
              <a class="ungli" href="https://tranchulas.com">
                <li>Careers</li>
              </a>
              <a class="ungli" href="https://tranchulas.com">
                <li>Legal</li>
              </a>
              <a class="ungli" href="https://tranchulas.com">
                <li>Privacy & Cookie Policy</li>
              </a>
            </div>
          </div>
        </ul>
      </div>
      <div class="col-md-2">
        <ul class="list list-unstyled">
          <div class="pao">
            <hr class="line line2">
            <h5 class="angotha text-muted" id="find_menu">FIND US ON</h5>
            <div class="ari3">
              <div class="box">
                <a class="ungli" target='_blank' href="https://tranchulas.com/">
                  <li>&#62220;&nbsp;&nbsp;Facebook</li>
                </a>
                <a class="ungli" target='_blank' href="https://tranchulas.com/">
                  <li>&#62217;&nbsp;Twitter</li>
                </a>
                <a class="ungli" target='_blank' href="https://tranchulas.com/">
                  <li>&#62223;&nbsp;Google</li>
                </a>
                <a class="ungli" target='_blank' href="https://tranchulas.com/">
                  <li>&#62253;&nbsp;Instagram</li>
                </a>
              </div>
            </div>
          </div>
        </ul>
      </div>
      <div class="col-md-4">
        <ul class="list-unstyled">
          <hr class="line line3">
          <h5 class="angotha text-muted" id="email_menu">SIGN UP FOR UPDATES</h5>
          <hr class="line line4">
          <div class="ari4">
            <p id="inli">By signing up, you accept the terms of TRANCHULAS Privacy Policy</p>
            <br>
            <label class="text-muted">Email Address</label>
            <br>
            <input type="Email" name="email" placeholder="Enter email" required>
          </div>
        </ul>
      </div>
    </div>
    <div class="col d-none d-md-block">
      <div class="bottom-footer text-muted ">
        <p>&copy; 2019 TRANCHULAS LICENCE # 2294/I/1936 and 5647/I/1936</p>
      </div>
    </div>
  </div>
</footer>
