<nav class="navbar navbar-expand navbar-dark bg-dark p-0">
    <div class="container">
      <div>
        <ul class="navbar-nav">
          <li class="nav-item px-2">
            <a class="nav-link" routerLink="/dashboard">Account Info</a>
          </li>
          <li class="nav-item px-2">
            <a class="nav-link" routerLink="/showAddress">Address Info</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
 <!-- MODALS -->
  <!-- ADD USER MODAL -->
  <div id="addUserModal">
    <div class="container">
        <div *ngIf="msg" class="alert alert-Success alert-dismissible fade show" role="alert">
            <strong>Congrats! </strong>{{msg}}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
    </div> 
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-body">
          <form (submit)="onSubmit()">
            <div class="form-group">
                <label for="email">New Password</label>
                <div class="row">
                    <div class="col-6 col-sm-5 offset-sm-1 col-md-5 offset-md-1">
                      <div class="form-group" id="passdiv">
                        <input type="password" id="passwordid" name="password" class="form-control" [(ngModel)]="password" placeholder="Password" [class.is-invalid]="invalid_pass"  required>
                        <span id="sp"></span>
                      </div>
                      <div class="form-group" id="rpasdiv">
                        <input type="password" id="rpasswordid" name="rpassword" [(ngModel)]="rpassword" class="form-control" placeholder="Re-enter Password"[class.is-invalid]="invalid_rpass">
                        <span id="srp"></span>
                      </div>
                    </div>
                    <div class="col-5 col-sm-5 col-md-5 ">
                      <span id="passwordpopup" [style.visibility]="invalid_pass?'visible':'hidden'" class="popupp">{{u}}</span>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-12 col-sm-11 offset-sm-1 col-md-11 offset-md-1">
                      <span id="check2"></span>
                      <ul id="pcli"></ul>
                    </div>
                  </div>
              </div>
              <div class="modal-footer">
                <button class="btn btn-warning" type="submit" data-dismiss="modal">Save Changes</button>
              </div>
          </form>
        </div>
      </div>
    </div>
  </div>
