<body>
    <nav class="navbar navbar-expand navbar-dark bg-dark p-0">
      <div class="container">
        <div>
          <ul class="navbar-nav">
            <li class="nav-item px-2">
              <a class="nav-link" routerLink="/dashboard">Account Info</a>
            </li>
            <li class="nav-item px-2">
              <a class="nav-link" routerLink="/showAddress">Address Info</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- HEADER -->
  <header id="main-header" class="py-2 bg-primary text-white">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <h1>
                <fa-icon [icon]="faUser"></fa-icon> Edit Profile</h1>
          </div>
        </div>
      </div>
    </header>
    <section id="actions" class="py-4 mb-4 bg-light">
        <div class="container">
          <div class="row">
            <div class="col-md-3">
              <a routerLink="/dashboard" class="btn btn-light btn-block">
                <fa-icon [icon]="faArrowLeft"></fa-icon> Back To Dashboard
              </a>
            </div>
          </div>
        </div>
      </section>
      <div class="container mt-4">
        <div class="alert alert-danger" *ngIf="error">
          {{error}}
        </div>
        <div class="alert alert-primary" *ngIf="message">
          {{message}}
        </div>
      </div>
    <!-- PROFILE -->
    <section id="profile" class="mt-4">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header">
                <h4>Edit Profile</h4>
              </div>
              <div class="card-body">
                <form id='signupForm' (submit)="onSubmit()">
                  <div class="form-group">
                    <label for="username">User Name</label>
                    <div class="row">
                        <div class="col-6 col-sm-5 offset-sm-1 col-md-5 offset-md-1">
                          <div class="form-group" id="userdiv">
                            <input type="username"  id="usernameid" name="username" class="form-control" placeholder="User Name"  [(ngModel)]="username" [class.is-invalid]="invalid_name">
                            <span id="su"></span>
                          </div>
                        </div>
                        <div class="col-6 col-sm-5 col-md-5 ">
                          <span id="userpopup" [style.visibility]="invalid_name?'visible':'hidden'" class="popupp">Invalid Username</span>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-12 col-sm-12 offset-sm-1 col-md-11 offset-md-1">
                          <span id="check1"></span>
                        </div>
                      </div>
                  </div>
                  <div class="form-group">
                    <label for="bio">Phone Number</label>
                    <div class="row">
                        <div class="col-6 col-sm-5 offset-sm-1 col-md-5 offset-md-1">
                          <div class="form-group" id="phonenodiv">
                            <input type="Number" id="phonenoid" name="phonenumber" class="form-control" [(ngModel)]="phonenumber"  placeholder="Enter Phone Number"  [class.is-invalid]="invalid_no">
                            <span id="spn"></span>
                          </div>
                        </div>
                        <div class="col-6 col-sm-5 col-md-5 ">
                          <span id="phonenopopup" class="popupp" [style.visibility]="invalid_no?'visible':'hidden'">Invalid Phone Number</span>
                        </div>
                    </div>
                  </div>
                  <!-- ACTIONS -->
                  <section id="actions" class="py-4 mt-4 bg-light">
                      <div class="container">
                        <div class="row">
                          <div class="offset-md-4 col-md-4">
                              <input type="submit" value="Save Changes" id="loginid" class="btn btn-md btn-dark form-control">
                          </div>
                        </div>
                      </div>
                    </section>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <script>
      // Get the current year for the copyright
      $('#year').text(new Date().getFullYear());

      CKEDITOR.replace('editor1');
    </script>
  </body>

